<div class="row one">
<!--   <div class="large-4 columns">
    <div class="oldpic"></div>
  </div>
 -->
  <!-- <div class="large-4 columns"></div> -->
  <div class="large-7 columns intro">
    <h1>Hi. I'm <strong>Parag Dadhaniya</strong></h1>
    <div class="description">
      <p>Full Stack Web Developer</p>
      <p>Ruby. JavaScript. HTML/CSS</p>
    </div>
    <button class="button1">See What I Do</button>
  </div>
  
  <div class="large-5 columns">
    <div class="newpic"></div>
  </div>
</div>

<div class="row two">
  <div class="large-12 columns">
    <p>foo bar</p>
  </div>
</div>

<div class="row three">
  <div class="large-12 columns">
    <p>hello world!</p>
  </div>
</div>

<div class="row four">
  <div class="large-12 columns">
    <p>foo bar</p>
  </div>
</div>