<div class="row one">
  <div class="large-7 columns intro">
    <h1>Hi. I'm <strong>Parag Dadhaniya</strong></h1>
    <div class="description">
      <p>Full Stack Web Developer</p>
      <p>Ruby. JavaScript. HTML/CSS</p>
    </div>
    <button class="button1">See What I Do</button>
  </div>
  
  <div class="large-5 columns">
    <div class="newpic"></div>
  </div>
</div>

<div class="row two">
  <div class="large-12 columns twotop">
    <p>Web Developer, Software Engineer</p>
    <p>Multitude of Skills</p>
  </div>
  <div class="large-12 columns twobottom">
    <div class="container">
      <div class="row boxes">
        <div class="testbox">
          FrontEnd
          <%= image_tag('HTML5.png') %>
          JavaScript<br>
          HTML/CSS<br>
          jQuery
        </div>
        <div class="testbox">
          BackEnd
          <%= image_tag('ruby.png') %>
          Ruby<br>
          PostgreSQL<br>
          <br>
        </div>
        <div class="testbox">
          Frameworks
          <%= image_tag('angularjs.png') %>
          Rails<br>
          Sinatra<br>
          AngularJS
          <br>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row three">
  <div class="large-12 columns">
    <p>hello world!</p>
  </div>
</div>

<div class="row four">
  <div class="large-12 columns">
    <p>foo bar</p>
  </div>
</div>