<!-- <div class="fixedbar"> -->
<nav class="top-bar" data-topbar role="navigation">
  <section class="top-bar-section">
    <ul class="header-titles">
      <li class="name">
        <h1><%= link_to 'ParagFolio', '/' %><h1>
      </li>
      <li class="name">
        <h1><%= link_to 'Skills!', '/' %></h1>
      </li>
      <li class="name">
        <h1><%= link_to 'Projects!', '/' %></h1>
      </li>
      <li class="name">
        <h1><%= link_to 'Contact!', '/' %></h1>
      </li>
    </ul>
  </section>
</nav>
<!-- </div> -->