nav.top-bar {
  width: 100%;
  position: fixed;
  z-index: 10000;
  float: right;
  text-align: center;
}

section.top-bar-section {
  display: inline-block;
}

.menu-icon {
  text-align: center;
  position: fixed;
  z-index: 10000;
  width: 100%;
}